h1{
    text-align: center;
}

.game-list{
    max-width: 1000px;
    margin:50px auto;
    display:flex;
    flex-wrap: wrap;
}

.game-list > * {
    flex:1;

}

.game-cta {
    display:block;
}

.product {
   display:flex;
    flex:1 0 300px;

}

.styling{
    padding-left: 10px;
}