@font-face {
  font-family: "Boots And Spurs";
  src: url ("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: grid;
}

nav{
  display: none;
}



header {
  align-items: center;
  padding: 20px;
  background-color: #1b203d;
  text-align: center;
  color:rgb(27 184 16);
}

footer{
  background-color: #1b203d;
  color: rgb(27 184 16);
}

.nav-footer{
  display:inline;
  color:rgb(27 184 16);
  text-align: center;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.cta {
  background-color: #1b203d;
  color: rgb(27 184 16);
  padding: 10px 30px;
  border: 2px solid rgb(27 184 16);
  border-radius: 15px;
  margin: 40px 20px;
  font-size: 0.8em;
}

.active {
  background-color: white;
}
a {
  text-decoration: none;
}

nav li {
  display: inline-block;
}
.welcome {
  background-image: url(../images/GameHub_Logo.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top 20px;
  min-height: 70vh;
  position: relative;
  background-size: 300px;
}

.sales-link {
position: absolute;
left: 50px;
bottom: 200px;
  
}

.sign-up {
 position: absolute;
 right:20px;
 top:30px
}

.games {
 width:100px;
 height: 80px;
}

.game-list{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap:15px;
}



@media (min-width: 600px) {
  .game-list{
grid-template-columns: repeat(2,1fr);
}

.form-wrapper{
  display:flex;
}
}

@media (min-width: 800px) {
}
